version: "3"
services:
  server:
    build: ./server-express-node
    command: npm run develop
    container_name: booknotes-js-server
    environment:
      - DB_HOSTNAME=booknotes-js-database-relational
      - LOG_LEVEL=debug
    image: booknotes-js-server
    networks:
      - booknotes-network
    ports:
      - 5000:5000/tcp
    volumes:
      - ./server-express-node/application:/var/node
  client:
    build: ./client-bootstrap-vue
    command: npm run serve -- --port 3000
    container_name: booknotes-js-client
    image: booknotes-js-client
    networks:
      - booknotes-network
    ports:
      - 3000:3000/tcp
    volumes:
      - ./client-bootstrap-vue/application:/var/node
  database-relational:
    container_name: booknotes-js-database-relational
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
    image: mariadb:10.5.5
    networks:
      - booknotes-network
    ports:
      - 3306:3306/tcp
    volumes:
      - relational-datadir:/var/lib/mysql
networks:
  booknotes-network:
volumes:
  relational-datadir:
